<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="spring.application.name" value="user-microservice"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="%blue(%d{dd MMM yyyy HH:mm:ss,SSS})  %cyan(%X{id}) %highlight(%-5p) %cyan(%c:%L) - %m%n"/>
    <!--value="%d{yyyy-MM-dd HH:mm:ss.SSS} [${spring.application.name}] [trace=%X{X-Trace-Id:-},span=%X{X-Span-Id:-}] [%15.15t] %-40.40logger{39}: %m%n"/>-->
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <logger name="com.mkalaimalai" level="DEBUG"/>

    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
